@tailwind base;
@tailwind components;
@tailwind utilities;


  body {
    font-family: "Montserrat";
      background: rgb(15, 15, 15);
    }

    .button {
        @apply h-10 border border-zinc-800 bg-zinc-950 py-2 px-4 text-center 
        text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-zinc-900 
        focus:shadow-none active:bg-zinc-900 hover:bg-zinc-900 active:shadow-none disabled:pointer-events-none 
        disabled:opacity-50 disabled:shadow-none rounded-sm transition duration-500
    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
      } 
      
      @-webkit-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
      
      .fade-in {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
      }  

      .fade-inAuth {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
      }  


      label{
        @apply text-xs font-semibold text-white tracking-[.12em]
      }

      p{
        @apply text-zinc-50 tracking-[.06em]
      }

      .autofill-text:-webkit-autofill {
        -webkit-text-fill-color: white;
        color: white;
      }

      .title{
        font-family: oswald;
        font-weight: 500;
        line-height: 1;
      }

      ::-webkit-scrollbar {
        width: 6px;
        height: 10px;
        scroll-behavior: smooth;
        scroll-snap-type: y proximity;
        overflow-y: scroll;
        scroll-padding-top: 15vh;
        animation-duration: 1s;
      
      }
      
      ::-webkit-scrollbar-thumb {
        background: #8fc4d659;
        border-radius: 2px;
        scroll-behavior: smooth;
        scroll-snap-type: y proximity;
        overflow-y: scroll;
        scroll-padding-top: 15vh;
        animation-duration: 1s;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: #45b3d859;
      }      
      
      .doodle {
        position: absolute;
        width : 100%;
        height :100%;
      }

      .dot-elastic {
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: rgb(129, 129, 129);
        color: rgb(129, 129, 129);
        animation: dot-elastic 1s infinite linear;
      }
      .dot-elastic::before, .dot-elastic::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
      }
      .dot-elastic::before {
        left: -15px;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color:rgb(129, 129, 129);
        color: #9880ff;
        animation: dot-elastic-before 1s infinite linear;
      }
      .dot-elastic::after {
        left: 15px;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: rgb(129, 129, 129);
        color: #9880ff;
        animation: dot-elastic-after 1s infinite linear;
      }
      
      @keyframes dot-elastic-before {
        0% {
          transform: scale(1, 1);
        }
        25% {
          transform: scale(1, 1.5);
        }
        50% {
          transform: scale(1, 0.67);
        }
        75% {
          transform: scale(1, 1);
        }
        100% {
          transform: scale(1, 1);
        }
      }
      @keyframes dot-elastic {
        0% {
          transform: scale(1, 1);
        }
        25% {
          transform: scale(1, 1);
        }
        50% {
          transform: scale(1, 1.5);
        }
        75% {
          transform: scale(1, 1);
        }
        100% {
          transform: scale(1, 1);
        }
      }
      @keyframes dot-elastic-after {
        0% {
          transform: scale(1, 1);
        }
        25% {
          transform: scale(1, 1);
        }
        50% {
          transform: scale(1, 0.67);
        }
        75% {
          transform: scale(1, 1.5);
        }
        100% {
          transform: scale(1, 1);
        }
      }

      